<header class="heads">
  <h1>ELECTRO<span>PEC</span></h1>
  <nav>
    <a href="#" class="nav1">Home</a>
    <a href="#" class="nav1">About</a>
    <a href="#" class="nav1">Locate</a>
    <a href="#" class="nav1">Login</a>
  </nav>
</header>
<section class="hm1">
  <h1></h1>
</section>